@font-face {
    font-family: "pokemonsolid";
    src: url("./fonts/pokemonsolid.ttf");
}

@font-face {
    font-family: "pixel";
    src: url("./fonts/pixel-2.ttf");
}

@font-face {
    font-family: "raleway";
    src: url("./fonts/raleway.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('./img/fondo-full-hd.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

.start {
    display: flex;
    justify-content: center;
}

.start button {
    border: none;
    background-color: rgba(14, 15, 17, 0);
    color: rgb(255, 48, 48);
    font-size: 40px;
    font-family: "pixel";
}

.start button:hover {
    cursor: pointer;
    color: rgb(255, 230, 0);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

.header__title {
    display: flex;
    justify-content: center;
}

.header__title img {
    width: 40%;
}

.select-pet {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select-pet__select {
    width: 500px;
}

.cards {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.cards input {
    visibility: hidden;
}

.cards__mokepon-card {
    margin-top: 10px;
    padding: 20px 10px 20px 20px;
    width: 350px;
    height: 100px;
    font-family: "raleway";
    font-size: 35px;
    border-radius: 5px;
    background-color: white;
    color: rgb(0, 0, 0);
    box-shadow: 2px 3px rgba(0, 0, 0, 0.169);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.cards__mokepon-card img {
    margin-top: 40px;
    width: 110px;
    height: 100px;
}

.cards__mokepon-card:hover {
    background-color: rgb(254, 254, 192);
    cursor: pointer;
}

.cards__mokepon-card:active {
    background-color: rgb(255, 255, 71);
}

input[type="radio"]:checked+.cards__mokepon-card {
    background-color: rgb(254, 254, 192);
}

.burntrack p {
    background: linear-gradient(to bottom, #fc1212, #ff8800);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.glitch p {
    background: linear-gradient(to bottom, #001c82, #eeff00);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.mortus p {
    background: linear-gradient(to bottom, #b133ff, #f16eff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.inferstorm p {
    background: linear-gradient(to top, #ff4d00, #fbff00);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.blazen p {
    background: linear-gradient(to top, #ff4d00, #750000);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.thunneg p {
    background: linear-gradient(to top, #fff700, #756700);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.cards__mokepon-card_info {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.cards__mokepon-card_element {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 50%;
    gap: 10px;
    margin-bottom: 20px;
}

.cards__mokepon-card_info>.cards__mokepon-card_element>.cards__mokepon-card_element-description {
    font-size: 16px;
    color: black;
}

.cards__mokepon-card_info img {
    width: 15px;
    height: 17px;
    margin-bottom: 2.2px;
}

.cards__mokepon-card_element {
    display: flex;
    flex-direction: row;
}

.select-pet__fight {
    border-radius: 10px;
    padding: 10px 120px;
    margin: 40px 0px 60px 0px;
    border: none;
    font-family: "raleway";
    color: black;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 10px;
    height: 5vh;
    box-shadow: 2px 2px 10px rgb(255, 163, 163);
    overflow: hidden;
    position: relative;
}

.select-pet__fight__slogan{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.select-pet__fight:hover{
    cursor: pointer;
}

.select-pet__fight img{
    width: 35px;
    position: absolute;
}

.select-pet__fight span{
    position: relative;
    top: -41.5px;
    font-size: 15px;
}

.select-pet__fight:hover span{
    animation-name: up;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.select-pet__fight:hover > img{
    animation-name: down;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.select-attack{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 200px;
}

.select-attack__mokepon-card_info{
    margin-top: 10px;
    padding: 20px 10px 20px 20px;
    width: 350px;
    height: 100px;
    font-family: "raleway";
    font-size: 35px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: 2px 3px rgba(0, 0, 0, 0.169);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.select-attack__mokepon-card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 250px;
}

.select-attack__mokepon-card_element img:nth-child(3){
    display: none;
}

.select-attack__pet-name img{
    width: 30px;
}

.select-attack__pet-life{
    height: 100%;
    display: flex;
    align-items: center;
}

.select-attack__my-pet-hearts{
    font-size: 70px;
}

.select-attack__heart{
    width: 70px;
    margin-left: 3px;
}

.select-attack__images{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:250px;
}

.select-attack__images img{
    width: 350px;
}

.select-attack__images img:first-child{
    transform: scaleX(-1);
}

.select-attack__buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.select-attack__buttons_subtitle {
    width: 600px;
    margin-bottom: 30px;
}

.select-attack__buttons_images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-bottom: 100px;
}

.select-attack__buttons_img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.select-attack__buttons_img img{
    width: 110px;
}

.select-attack__buttons button{
    width: 280px;
    padding: 10px 0px;
    border: none;
    border-radius: 5px;
    font-family: "raleway";
    background-color: white;
    color: black;
    box-shadow: -1px 3px 3px black;
}

.select-attack__buttons button:hover{
    cursor: pointer;
}

.select-attack__fire:hover{
    background-color: rgb(255, 58, 58);
    color: rgb(255, 182, 182);
}

.select-attack__electric:hover{
    background-color: #62ff4a;
    color: rgb(0, 92, 3);
}

.select-attack__darkness:hover{
    background-color: #ffd230;
    color: #554200;
}

.messages{
    justify-content: center;
    align-items: center;
    gap: 220px;
}

.messages textarea{
    min-width: 400px;
    min-height: 400px;
    margin-bottom: 100px;
    border: none;
    background-color: rgb(40, 40, 40);
    border-radius: 10px;
    box-shadow: -4px 4px 2px black;
    outline: none;
    resize: none;
    padding: 20px;
    color: white;
    font-family: 'raleway';
}

.reset{
    justify-content: center;
}

.reset__button{
    width: 300px;
    margin: 70px 0px;
    padding: 10px 0px;
    background-color: white;
    border: none;
    box-shadow: -2px 2px 5px black;
    border-radius: 5px;
    font-family: 'raleway';
    font-size: 17px;
}

.reset__button:hover{
    cursor: pointer;
    background-color: rgb(254, 254, 192);
}

.reset__button:active{
    background-color: rgb(254, 254, 75);
}

footer{
    background-color: #ffc600;
    padding: 10px 0px;
    width: 100%;
    text-align: center;
    font-family: 'pixel';
    position: fixed;
    bottom: 0;
}

@media(max-width: 415px){
    .header__title img {
        width: 80%;
    }

    .start button{
        position: absolute;
        font-size: 30px;
        top: 50%;
    }

    .select-pet__select{
        width: 300px;
    }

    .cards{
        flex-direction: column;
        gap: 0px;
    }

    .select-attack__mokepon-card{
        flex-direction: column;
        gap: 10px;
    }

    .select-attack__images{
        margin-top: 30px;
        gap: 50px;
    }

    .select-attack__images img{
        width: 150px;
    }

    .select-attack__buttons_subtitle{
        width: 380px;
        margin-top: 20px;
    }

    .select-attack__buttons_images{
        flex-direction: column;
        gap: 30px;
    }

    .messages{
        flex-direction: column;
        gap: 0px;
    }

    .messages textarea{
        min-width: 300px;
        min-height: 100px;
        margin-bottom: 60px;
    }

    footer{
        font-size: 12px;
    }
}

@keyframes up{
    0% {
        top: -41.5px;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}

@keyframes down{
    0% {
        top: 0px;
    }
    100% {
        top: 45px;
        opacity: 0;
    }
}

